body{
  background-color: rgb(40, 40, 51);
}

.title{
  color: #ffca4f;
  text-align: center;
  display: flex;
  justify-content: right;
  align-items: center;
  min-height: 100vh;
  margin-right: 100px;
}

.title-h1{
  font-size: 30pt;
  font-weight: bold;
  font-family: 'Fira code';
  display: inline-block;
  border-bottom: 2px solid #ffca4f;
  letter-spacing: 10px;
  text-align: center;
  text-indent: 10px;
  text-decoration: none;
  color: #ffca4f;
}

#img{
  height: 200px;
  /* border: 1px solid #ffca4f; */
}