body{
  background-color: darkslategray;
}

.wrap{
  margin: 0 auto;
}
.nav-area{
  height: 100vh;
  width : 250px;
  color: white;
  float: left;
  background-color: darkslategray;

}

#content{
  border-radius: 20px;;
  background-color: white;
  height: 100%;
  width: 80%;
  float: left;
  top: 0;
}


.profile{
  height: 250px;
}

.menu-container{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

}

a{
  text-align: center;
  display: block;
  text-decoration: none;
  color: white;
  padding: 1em;
  font-size: 13pt;
  width: 100%;
  box-sizing: border-box;
  /* border-bottom: 1px solid rgb(127, 136, 132); */
  font-weight: 600;  
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

a:hover{
  background-color: rgb(142, 158, 158);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;/* opacity: 0.8; */
}

